
<br><br/>


<h2>Tela de Cadastro de Veículo</h2>
<input type="button" value="Ir para Tela da Listagem de Veículos" (click)="goToB()" />


<br><br />



<form [formGroup]="carForm">
  
    Veículo: <br /> 
    <input type="text" size="20" formControlName="veiculo" />   
    
    <div *ngIf="carForm.controls.veiculo.invalid && carForm.controls.veiculo.touched">
      <div *ngIf="veiculo.errors?.required" class="error">
        nome do veículo é obrigatorio
      </div>
      <div *ngIf="veiculo.errors?.veiculoInvalid" class="error">
        Informe uma placa valída
      </div>
      <div class="error" *ngIf="carForm.controls.veiculo.errors?.minlength">
        O nome  do veiculo deve ter ao menos 2 caracteres
      </div>
    </div>
  
    <br /><br/>
  
    Placa: <br />
    <input type="text" size="20" formControlName="placa" />
    <div *ngIf="carForm.controls.placa.invalid && carForm.controls.placa.touched">
      <div *ngIf="placa.errors?.required" class="error">
        Placa é obrigatorio
      </div>
      <div class="error" *ngIf="carForm.controls.placa.errors?.minlength">
        class="error" *ngIf="carForm.controls.placa.errors?.minlength">
      </div>
    </div>
  
    <br /><br />
  
    Motorista: <br /> 
    <input type="text" size="20" formControlName="motorista" />
    <div *ngIf="carForm.controls.motorista.invalid && carForm.controls.motorista.touched">
      <div *ngIf="motorista.errors?.required" class="error" >
        Motorista é obrigatorio
      </div>
    </div>
  
    <br /><br />
  
    Telefone Contato: <br /> 
    <input type="text" size="20" formControlName="telefone" />

    <div *ngIf="carForm.controls.telefone.invalid && carForm.controls.telefone.touched">
      <div *ngIf="telefone.errors?.required" class="error" >
        Telefone é obrigatorio
      </div>
    </div>
  
    <br /><br />

    Entrada : <br />
    

    <input type="button" value="Salvar" (click)="save()" [disabled]="carForm.invalid" />
    
  
  </form>



