<br><br/>

<div>
    <h2>Tela de Listagem de veículos</h2>
    <input type="button" value="Ir para Tela de Cadastro de Veículos" (click)="goToA()" />
</div>

<br><br />

<table border="1" style="width: 90%;">
    <thead>
        <tr>
            <th>Veiculo</th>
            <th>Placa</th>
            <th>Motorista</th>  
            <th>Entrada</th>
            <th>Saída</th>
            <th>Total</th>
            <th></th>         
            

        </tr>
    </thead>
    <tbody *ngFor="let x of allCar">
        <tr>
        <td>{{ x.veiculo }}</td>
        <td>{{ x.placa }}</td>
        <td>{{ x.motorista }}</td>
        <td></td>
        <td></td>
        <td></td>
        <th><input type="button" value="Encerrar" (click)="encerrar()"></th>
        </tr>    
    </tbody>
</table>